.output{
    width: 30%;
    border: 1 px solid white;
    box-shadow: 2px 3px 4px gray;
    height: 600px !important;
  text-align: center;
  padding: 20px 0 0 0;
  background-color: #eee;
  margin: 20px auto;
  overflow: hidden;
}